@font-face {
    font-family: 'Mjolnir';
    src: url(fonts/Mjölnir/Mjolnir.otf) format('opentype');
}

@font-face {
    font-family: 'Nordica';
    src: url(fonts/linotype-nordica/linotypenordica-regular.ttf) format('truetype');
}

html,
body {
    text-align: center;
}

div {
    text-align: center;
    font: bold 25px 'Nordica', sans-serif;
}