@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');


@font-face {
    font-family: 'Mjolnir';
    src: url(Mjölnir/Mjolnir.otf) format('opentype');
}
@font-face {
    font-family: 'Nordica';
    src: url(linotype-nordica/linotypenordica-regular.ttf) format('truetype');
}

html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    background: url(bc-viking.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Mjolnir, Arial, sans-serif;
    font-weight: bold;
    color: #fcf7f1;
}

nav {
  z-index: 1;
}

.nav-menu {
    z-index: 1;
    position: relative;
    background-color: transparent;
    top: 0; 
    padding: 24px 35px 24px 80px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
  .nav-menu {
    padding: 20px;
  } 
}

#logo-menu {
  border: none;
  float: left;
  padding-left: 15px;
  width: 60px;
}

@media only screen and (max-width: 600px) {
  #logo-menu {
    display: '';
  } 
}

.nav-menu a {
    cursor: pointer;
    float: right;
    color: #dae4e2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.nav-menu a:hover {
    transition: all 0.2s ease-in-out;
    color: #b60000;
}

#checked {
    color: #ee0000;
    font-size: 17px;
    padding: 16px 16px;
}

@media only screen and (max-width: 600px) {
  #checked {
    display: block;
  }
}


#checked:hover {
    filter: brightness(95%);
}
  
  .dropdown {   
    padding: 15px;
    margin-bottom: 110px;
    text-align: center;
    border: none;
    color: white;
    background-color: inherit;
    font-family: Mjolnir, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    float: right;
    overflow: hidden;
  }

  .dropbtn {
    cursor: pointer;
    margin-bottom: 110px;
    text-align: center;
    border: none;
    color: white;
    background-color: transparent;
    font-family: Mjolnir, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
  }

.dropdown-conteudo {
    display: none;
    position: absolute;
    background-color: #202020;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-conteudo a {
    float: none;
    color: #b8ad94;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .show {
    display: block;
  }

  .dropdown2 {   
    padding: 15px;
    margin-bottom: 110px;
    text-align: center;
    border: none;
    color: white;
    background-color: inherit;
    font-family: Mjolnir, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    float: right;
    overflow: hidden;
  }

  .dropbtn2 {
    cursor: pointer;
    margin-bottom: 110px;
    text-align: center;
    border: none;
    color: white;
    background-color: transparent;
    font-family: Mjolnir, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
  }

.dropdown-conteudo2 {
    display: none;
    position: absolute;
    background-color: #202020;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-conteudo2 a {
    float: none;
    color: #b8ad94;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .show2 {
    display: block;
  }

  div.menu-mobile

img {
    display: block;
    margin: 50px auto 20px auto;
    border: 3px solid rgba(22, 22, 22, 0.603);
    border-radius: 10px;
    filter: opacity(80%);
    width: 380px;
    margin-bottom: 40px;
}

img:hover {
    filter: saturate(140%) sepia(40%);
    transition: 0.4s ease-in-out;
}

section.main-section {
    z-index: 0;
    position: relative;
    bottom: 250px;
    background-image: url(div-image1.png);
    height: 630px;
    box-sizing:border-box;
    opacity: 100%;
    text-align: center;
}

h1.main-text {
    position: relative;
    top: 200px;
    margin-top: 190px;
    font-size: 70px;
    font-family: Nordica;
    color: #dfc8ac;
}

div.main-text, p.main-text1 {
    position: relative;
    bottom: 120px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    font-family: Nordica;
    font-size: 25px;
    line-height: 45px;
    word-spacing: 5px;
    font-weight: 200;
    color: #d8cbbb;
}

div.div-games {
  display: flex;
  margin: auto 10px auto 150px;
}

div.games {
  text-align: center;
  font-family: Nordica;
  font-size: 35px;
  margin: 20px 10px 60px 20px;
}

@media only screen and (max-width: 600px) {
  div.games {
    position: relative;
    right: 130px;
    bottom: 90px
  }
}

div.games> p {
  font-weight: normal;
  font-size: 20px;
  width: 300px;
}

div.games>a> button {
  padding: 10px 15px 33px 15px;
  cursor: pointer;
  width: 258px;
  height: 35px;
  font-family: Nordica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(207, 207, 207);
  border: 2px solid #202020;
  border-radius: 10px;
  background-color: #b60000;
}

div.games>a> button:hover {
  filter: brightness(60%);
}

div.games2>img {
  margin-left: 200px;
  border: none;
  width: 350px;
  margin-top: 1px;
}

@media only screen and (max-width: 600px) {
  div.games2>img {
    display: none;
  }
}

section#primeiros-textos {
    margin: auto 10px auto 10px;
    word-spacing: 7px;
    text-align: center;
    color: #b8ad94;
    font-family: Nordica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 200;
    padding-bottom: 50px;
}

section#primeiros-textos>h1 {
    font-size: 50px;
    color: #e1b64d;
}

ul {
    list-style: none;
}

/* contact form */

.contact {
  border-top: 3px solid #b60000;
  background-image: url(bc-contact-index.png);
  background-attachment: scroll;
  background-position: center;
  padding: 50px 0 90px 0;
  text-align: center;
  font-size: 18px;
}

.contact > p {
  font-size: 16px;
}

hr {
  border: 1px solid #b60000
  ;
  width: 70px;
}

form>p {
  font-family: Oswald, sans-serif;
  margin: auto;
  padding-top: 10px;
  position: relative;
  right: 125px;
  top: 20px;
}

form>input,button {
  margin: 10px 0 0 7px;
}

input[type=text], input[type=email], textarea {
  padding-left: 15px;
  font-size: 18px;
  font-family: Oswald, sans-serif;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  color: #d3cac0;
  border: 6px solid #202020;
  border-radius: 5px;
  background-color: #202020;
  transition: width 0.4s ease-in-out;
}

textarea {
  margin: 15px 0 10px 7px;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  background-color: #202020;
  width: 320px;
  height: 30px;
  border: 6px solid #202020;
  outline: 2px solid #b60000;
  transition: all 0.2s ease-in-out;
}

.btn-contact {
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  width: 330px;
  height: 35px;
  margin-left: 8px;
  font-family: Nordica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #b60000;
  border: 2px solid #b60000;
  border-radius: 5px;
  background-color: transparent;
}
.btn-contact:hover {
  filter: brightness(60%);
}

/* article pages style */

.post-img {
  width: 50%;
  margin: 100px auto 10px 350px;
  border: none;
}

#div-list {
  margin-top: 100px;
}

ul.articles-list>li>a {
    color: #e7d4d4;
    font-size: 20px;
    list-style: circle;
    padding: 20px 0 20px 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    text-decoration: 1px underline;
}

ul.articles-list>li>a:hover {
    color: #b64141;
}

/* thanks form page */

section.thanks-section {
  height: auto;
  opacity: 100%;
  text-align: center;
}

section.thanks-section>h1 {
  margin: auto;
  padding-top: 85px;
  font: bold 80px 'Nordica',sans-serif;
  color: #d8cbbb;
}


p.thanks-text {
  border-top: 3px solid #d8cbbb;
  color: #d8cbbb;
  font: 300 35px 'Nordica',sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;
}

.thanks-btn {
  padding: 20px 15px 44px 15px;
  cursor: pointer;
  width: 258px;
  height: 35px;
  font: normal 25px 'Nordica',sans-serif;
  font-weight: bolder;
  color: #d8cbbb;
  border: 2px solid #202020;
  border-radius: 5px;
  background-color: #b60000;
}

.thanks-btn:hover {
  filter: brightness(60%);
}

/* games page */

.main-section-games {
  position: relative;
  bottom: 240px;
  background: url(bc-games-section.png) center;
  height: 600px;
  opacity: 100%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .main-section-games {
    width: auto;
  }
}

.games-blocks {
  display: inline-flex;
  margin:-200px 20px 30px 45px;
}

@media only screen and (max-width: 600px) {
  .games-blocks {
    display: inline-block;
    margin:-200px 20px 30px 20px;
  }
}

.ps4-games {
  background-color: #202020;
  width: 380px;
  height: 430px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  font-family: Nordica, sans-serif;
  font-weight: normal;
  color: #b8ad94;
}

@media only screen and (max-width: 600px) {
  .ps4-games {
    width: 370px;
    height: 410px;
  }
}

.ps4-image {
  width: 360px;
  border: none;
  border-radius: 20px;
  padding-top: 30px;
}

.ps4-btn, .xbox-btn, .pc-btn {
  margin-top: 0;
  padding: 10px 15px 33px 15px;
  cursor: pointer;
  width: 258px;
  height: 35px;
  font-family: Nordica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(160, 160, 160);
  border: 2px solid #202020;
  border-radius: 10px;
  background-color: #b60000;
}

.ps4-btn:hover, .xbox-btn:hover, .pc-btn:hover {
  filter: brightness(70%);
  border: none;
}

@media only screen and (max-width: 600px) {
  .ps4-btn, .xbox-btn, .pc-btn {
    padding: 15px 20px 38px 20px;
  }
}

.xbox-games {
  background-color: #202020;
  width: 380px;
  height: 430px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  font-family: Nordica, sans-serif;
  font-weight: normal;
  color: #b8ad94;
}

@media only screen and (max-width: 600px) {
  .xbox-games {
    width: 370px;
    height: 410px;
  }
}

.xbox-image {
  width: 360px;
  border: none;
  border-radius: 20px;
  padding-top: 30px;
}

.pc-games {
  background-color: #202020;
  width: 380px;
  height: 430px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  font-family: Nordica, sans-serif;
  font-weight: normal;
  color: #b8ad94;
}

@media only screen and (max-width: 600px) {
  .pc-games {
    width: 370px;
    height: 410px;
  }
}

.pc-image {
  width: 360px;
  border: none;
  border-radius: 20px;
  padding-top: 30px;
}