@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

@font-face {
    font-family: 'Mjolnir';
    src: url(Mjölnir/Mjolnir.otf) format('opentype');
}
@font-face {
    font-family: 'Nordica';
    src: url(linotype-nordica/linotypenordica-regular.ttf) format('truetype');
}

html, body {
    margin: 0;
    padding:0;
    background: url(bg-neutral.png) no-repeat fixed;
    -webkit-background-size: cover;
    background-color: #131313;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Mjolnir, Arial, sans-serif;
    font-weight: bold;
    color: #fffcf8;
  }

@media (max-width: 600px) {
  html, body {
    background: url(bg-neutral.png) no-repeat right fixed;
  }
}

 /*menu*/

.menu-item {
    color: #fffcf8;
    text-decoration: none;
}

a:hover {
    background: rgba(0, 0, 0, .10);
    border-radius: 10px;
}

#logo-image {
    width: 90px;
}

#header {
    box-sizing: border-box;
    height: 100px;
    padding: 12px 50px 12px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient( -110deg,#1D0F00, #130900, #000000);
}

#menu {
    display: flex;
    list-style: none;
    gap: 10px;
}

#menu .home-menu-item {
  color: #d3cac0;
}

#menu a {
    margin-top: 15px;
    font-size: 18px;
    display: block;
    padding: 15px;
    color: #dfc8ac;
    text-decoration: none;
    border-radius: 10px;
}

#menu .menu-item::after {    
    content: "";
    background: none repeat scroll 0 0 transparent;
    display: block;
    height: 2px;
    margin-top: 15px;
    left: 50%;
    background: currentColor;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    border-radius: 200px;
  }

  #menu .menu-item:hover::after { 
    width: 100%; 
    left: 0;
  }
  
#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #header {
      padding: 0 10px 0 10px;
    }

    #logo-image {
        width: 70px;
    }    
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 85px;
        right: 0px;
        background: linear-gradient( 20deg, #080808, #1b140e);
        border-radius: 5px;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 50vh);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 25px 0;
        margin: 0 20px;
        border-bottom: 2px solid rgba(46, 46, 46, 0.1);
        border-radius: 5px;
    }
    #btn-mobile {
        color: #d8cbbb;
        display: flex;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        background: none;
        cursor: pointer;
        gap: 10px;
    }
    #hamburguer {
        color: #c9bdae;
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    #menu a:hover::after { 
        width: 28%; 
        left: 0;
      }    
}

 /*end menu*/

.main-section {
    margin-top: -84px;
    z-index: 1;
    background-image: url(div-image1.png);
    height: 550px;
    box-sizing:border-box;
    opacity: 100%;
    text-align: center;
}

.main-text-1 {
  padding-top: 70px;
  font: bold 100px 'Nordica', sans-serif;
}

@media (max-width: 600px) {
  .main-section {
    margin-top: -40px;
    z-index: 1;
    background: url(div-image1.png) no-repeat fixed;
    height: 450px;
    box-sizing:border-box;
    opacity: 100%;
    text-align: center;
  }

  .main-text-1 {
    font-size: 45px;
  }
}

div.main-text, p.main-text1 {
    margin-left: 20%;
    margin-right: 20%;
    font-family: Nordica;
    font-size: 25px;
    line-height: 50px;
    word-spacing: 8px;
    font-weight: 200;
    color: #fffcf8;
    text-align: center;
}

@media (max-width: 600px) {
  div.main-text, p.main-text1 {
    margin-left: 7%;
    margin-right: 5%;
    font-family: Nordica;
    font-size: 25px;
    line-height: 45px;
    word-spacing: 5px;
    font-weight: 200;
    color: #d8cbbb;
    text-align: left;
  }
}

#line-text-game {
    color: #dfc8ac;
    display: block;
    border-top: 2px solid;
    border-radius: 200px;
    width: 50%;
    margin: 40px auto;
}



div.div-games {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  
}

div.games {
  text-align: center;
  font-family: Nordica;
  font-size: 35px;
  margin: 20px 0px 60px 20px;
}

#games-image {
  padding-right: 190px;
}

div.games> p {
  font-weight: normal;
  font-size: 20px;
  width: 300px;
}

div.games> a > button {
  padding: 10px 15px 33px 15px;
  cursor: pointer;
  width: 258px;
  height: 35px;
  font-family: Nordica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(207, 207, 207);
  border: 0px;
  border-radius: 10px;
  background-color: #D42221;
}

div.games>a> button:hover {
  filter: brightness(60%);
}

div.games2>img {
  border: none;
  width: 345px;
}

@media (max-width: 600px) {
  div.games2>img {
    display: none;
  }
}

section#primeiros-textos {
    word-spacing: 7px;
    text-align: center;
    color: #b8ad94;
    font-family: Nordica, Arial, sans-serif;
    font-size: 27px;
    font-weight: 200;
    margin: auto 50px auto 50px;
    padding-bottom: 50px;
}

@media (max-width: 600px) {
  section#primeiros-textos {
    margin: auto 15px auto 15px;
    font-size: 24px;
    word-spacing: 5px;
    text-indent: 5px;
  }
}

section#primeiros-textos>h1 {
    font-family: Mjolnir, Arial, sans-serif;
    font-size: 50px;
    color: #e1b64d;
}

ul {
    list-style: none;
}

/* contact form */

.contact {
  border-top: 3px solid #D42221;
  background-image: url(bc-contact-index.png);
  background-attachment: scroll;
  background-position: center;
  padding: 50px 0 90px 0;
  text-align: center;
  font-size: 18px;
}

.contact > p {
  font-size: 16px;
}

hr {
  border: 1px solid #D42221
  ;
  width: 70px;
}

form>p {
  font-family: Oswald, sans-serif;
  margin: auto;
  padding-top: 10px;
  position: relative;
  right: 125px;
  top: 20px;
}

form>input,button {
  margin: 10px 0 0 7px;
}

input[type=text], input[type=email], textarea {
  padding-left: 15px;
  font-size: 18px;
  font-family: Oswald, sans-serif;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  color: #d3cac0;
  border: 6px solid #202020;
  border-radius: 5px;
  background-color: #202020;
  transition: width 0.4s ease-in-out;
}

textarea {
  margin: 15px 0 10px 7px;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  background-color: #202020;
  width: 320px;
  height: 30px;
  border: 6px solid #202020;
  outline: 2px solid #D42221;
  transition: all 0.2s ease-in-out;
}

.btn-contact {
  padding: 5px 15px 5px 15px;
  cursor: pointer;
  width: 330px;
  margin-left: 8px;
  font-family: Nordica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #D42221;
  border: 2px solid #D42221;
  border-radius: 5px;
  background-color: transparent;
}

@media (max-width: 600px) {
  .btn-contact {
    padding: 10px 15px 10px 15px;
    font-size: 22px;
  }
}

.btn-contact:hover {
  filter: brightness(60%);
}

/* article pages style */

.post-img {
  width: 50%;
  margin: 100px auto 10px 320px;
  border: none;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .post-img {
    margin: 100px auto 10px 15px;
    width: 90%;
  }
}

#div-list {
  margin-top: 100px;
}

ul.articles-list>li>a {
    color: #e7d4d4;
    font-size: 20px;
    list-style: circle;
    padding: 20px 0 20px 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    text-decoration: 1px underline;
}

ul.articles-list>li>a:hover {
    color: #b64141;
}

/* thanks form page */

section.thanks-section {
  height: auto;
  opacity: 100%;
  text-align: center;
}

section.thanks-section>h1 {
  margin: auto;
  padding-top: 85px;
  font: bold 80px 'Nordica',sans-serif;
  color: #d8cbbb;
}

@media (max-width: 600px) {
  section.thanks-section>h1 {
    font-size: 60px;
  }
}

p.thanks-text {
  border-top: 3px solid #d8cbbb;
  color: #d8cbbb;
  font: 300 35px 'Nordica',sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;
}

.thanks-btn {
  padding: 20px 15px 44px 15px;
  cursor: pointer;
  width: 258px;
  height: 35px;
  font: normal 25px 'Nordica',sans-serif;
  font-weight: bolder;
  color: #d8cbbb;
  border: 2px solid #202020;
  border-radius: 5px;
  background-color: #D42221;
}

.thanks-btn:hover {
  filter: brightness(60%);
}

/* games page */

.main-section-games {
  margin-top: -180px;
  height: 600px;
  opacity: 100%;
  text-align: center;
}

.main-text-game {
  font: normal 110px 'Nordica', sans-serif;
}

@media (max-width: 600px) {
  .main-text-game {
    padding-top: 100px;
    font: normal 80px 'Nordica', sans-serif;  
  }
}

.games-blocks {
  display: inline-flex;
  margin:-200px 20px 30px 45px;
  align-items: center;
  justify-content: center;

}

@media (max-width: 600px) {
  .games-blocks {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin:-200px auto 30px auto;
    padding-left: 20px;
  }
}

.ps4-games {
  background-color: #202020;
  width: 380px;
  height: 430px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  font-family: Nordica, sans-serif;
  font-weight: normal;
  color: #b8ad94;
}

@media (max-width: 600px) {
  .ps4-games {
    width: 370px;
    height: 410px;
  }
}

.ps4-image {
  width: 360px;
  border: none;
  border-radius: 20px;
  padding-top: 30px;
}

.ps4-btn, .xbox-btn, .pc-btn {
  margin-top: 0;
  padding: 10px 15px 33px 15px;
  cursor: pointer;
  width: 258px;
  height: 35px;
  font-family: Nordica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(160, 160, 160);
  border: 2px solid #202020;
  border-radius: 10px;
  background-color: #D42221;
}

.ps4-btn:hover, .xbox-btn:hover, .pc-btn:hover {
  filter: brightness(70%);
  border: none;
}

@media (max-width: 600px) {
  .ps4-btn, .xbox-btn, .pc-btn {
    padding: 15px 20px 38px 20px;
  }
}

.xbox-games {
  background-color: #202020;
  width: 380px;
  height: 430px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  font-family: Nordica, sans-serif;
  font-weight: normal;
  color: #b8ad94;
}

@media (max-width: 600px) {
  .xbox-games {
    width: 370px;
    height: 410px;
  }
}

.xbox-image {
  width: 360px;
  border: none;
  border-radius: 20px;
  padding-top: 30px;
}

.pc-games {
  background-color: #202020;
  width: 380px;
  height: 430px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  font-family: Nordica, sans-serif;
  font-weight: normal;
  color: #b8ad94;
}

@media (max-width: 600px) {
  .pc-games {
    width: 370px;
    height: 410px;
  }
}

.pc-image {
  width: 360px;
  border: none;
  border-radius: 20px;
  padding-top: 30px;
}


/* mythology section */

.main-section-mythology {
  opacity: 100%;
  padding-bottom: 50px;
  text-align: center;
}

.main-text-mythology {
  font: normal 60px 'Nordica', sans-serif;
  line-height: 10px;
}


.mythology-blocks {
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

@media only screen and (max-width: 750px) {
  .mythology-blocks {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
  }
}

.link-all-norse {
  color: #b8ad94;
  text-decoration: none;
}

.realms {
  background-color: #202020;
  width: 380px;
  height: 430px;
  margin: 10px;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  font-family: Mjolnir, sans-serif;
  font-weight: normal;
  color: #b8ad94;
}

@media (max-width: 600px) {
  .realms {
    font-size: 18px;
    width: 370px;
    height: 410px;
  }
}

.realms-image {
  width: 360px;
  height: 215px;
  border: none;
  border-radius: 20px;
  padding-top: 30px;
}


.beings {
  background-color: #202020;
  width: 380px;
  height: 430px;
  margin: 10px;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  font-family: Mjolnir, sans-serif;
  font-weight: normal;
  color: #b8ad94;
}

@media (max-width: 600px) {
  .beings {
    font-size: 18px;
    width: 370px;
    height: 410px;
  }
}

.beings-image {
  width: 360px;
  height: 215px;
  border: none;
  border-radius: 20px;
  padding-top: 30px;
}

.gods {
  background-color: #202020;
  width: 380px;
  height: 430px;
  margin: 10px;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  font-family: Mjolnir, sans-serif;
  font-weight: normal;
  color: #b8ad94;
}

@media (max-width: 600px) {
  .gods {
    font-size: 18px;
    width: 370px;
    height: 410px;
  }
}

.gods-image {
  width: 360px;
  height: 215px;
  border: none;
  border-radius: 20px;
  padding-top: 30px;
}

.realms-btn, .beings-btn, .gods-btn {
  margin-top: 10px;
  padding: 15px 15px 40px 15px;
  cursor: pointer;
  width: 258px;
  height: 35px;
  font-family: Nordica, sans-serif;
  font-size: 23px;
  color: #dfdfdf;
  border: 2px solid #202020;
  border-radius: 10px;
  background-color: #D42221;
}

.realms-btn:hover, .beings-btn:hover, .gods-btn:hover {
  filter: brightness(70%);
  border: none;
}

@media (max-width: 600px) {
  .realms-btn, .beings-btn, .gods-btn {
    padding: 20px 20px 45px 20px;
    border-radius: 20px;
  }
}

/* footer */

#footer {
  border-top: 3px solid #D42221;
  background-color: #020303;
}

.copyright {
  padding: 15px;
  text-align: center;
  font: normal 25px 'Nordica', sans-serif;
}

@media (max-width: 600px) {
  .copyright {
    font-size: 20px;
  }
}
